<footer class="footer mt-auto py-3 bg-light border-top">
    <div class="container">
        <div class="row">
            <div class="text-end">
                <h5>Contacto</h5>
                <p class="text-muted">
                    <i class="bi bi-envelope"></i> adominguezl2100&#64;alumno.ipn.mx<br>
                    <i class="bi bi-telephone"></i> (498) 122-2264
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center">
                <p class="text-muted mb-0">&copy; 2025 Expenses. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>