<div class="credits-container">
  <div class="credits-card card shadow-lg rounded-lg">
      <div class="avatar-container text-center mb-3">
          <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" alt="Developer Avatar"
              class="avatar-img rounded-circle">
      </div>
      <div class="credits-content text-center">
          <h1 class="text-bg-dark" style="margin-bottom: 40px;">Desarrollado por:</h1>
          <h2 class="developer-name">{{ developer.name }}</h2>
          <h3 class="developer-group">{{ developer.group }}</h3>
          <h3 class="developer-email">{{ developer.email }}</h3>
      </div>
  </div>
</div>